:root {
    --main-bg-color: white;
    --main-color: #A0C4E2;
    --accent-color: #FF5964;
    --main-text-color: white;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    color: var(--main-text-color)
}

.page-container {
    margin: 40px 20px 20px 20px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--accent-color);
}

.card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 28vw));
    grid-template-rows: repeat(auto-fit, minmax(150px, 200px));
    justify-content: center;
}

.bottom-bar {
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: blue;
}

#add-book-btn {
    width: 200px;
    height: 40px;
    position: fixed;
    z-index: 1;
    background-color: var(--accent-color);
    bottom: 10px;
    border-radius: 8px;
    border: none;
    color: var(--main-text-color);
}

#add-book-dialog {
    position: absolute;
    top: 30vh;
    border: 0.5px;
    border-radius: 4px;
    box-shadow: 1px 2px 1px 2px #91A8A4 ;
    width: 200px;
    
}

#add-book-container {
    display: grid;
}

#add-book-form input {
    height: 30px;
    border-radius: 4px;
    border: 0.5px solid black;
    margin-bottom: 8px;
    margin-top: 4px;
}

#add-book-form select {
    height: 30px;
    border-radius: 4px;
    background-color: #F0F7EE ;
    margin-bottom: 8px;
    margin-top: 4px;
}

#modal-confirm-btn {
    margin-top: 20px;
    font-size: 1rem;
    background-color: #CFE8EF;
    border-radius: 8px;
    border: 1px solid #F0F7EE;
    height: 30px;
}

.book-card {
    min-height: 200px;
    background-color: var(--main-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--main-text-color);
    box-shadow: 1px 1px 1px 2px lightgray;
}

.book-main-info {
    font-size: 1.8rem;
    
}

.book-side-info {
    font-size: 0.8rem;
    margin-bottom: 0px;
}

.book-card p{
    margin: 0 0 8px 0;
}

.book-card button {
    margin-top: 1rem;
}

.card-btns button {
    margin: 20px 10px 0 10px;
    font-size: 1rem;
    background-color: #CFE8EF;
    border-radius: 8px;
    border: 1px solid #F0F7EE;
    height: 30px;
    width: 120px;
}

.hidden {
    display: none
}

button {
    color: var(--accent-color)
}